.searchButton,.postButton{
    background-color: #ff6a7c;
    color:white;
    border:none;
    padding: 5px 10px 5px 10px;
}

.tags{
    background-color: #41cadd;
    color:white;
    border:none;
    padding: 5px 10px 5px 10px;
}


.searchforminput{
    border: solid black 1px;
    border-color: #4a4a4a;
    padding: 4px;
}

nav a:hover{
    color:var(--hotpink);
}

.download-but{
    background-color:grey;
    color:white;
    border: #565050 solid 3px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    font-family: 'Nunito';
    font-weight: bold;

}

