.searchButton,.postButton{
    background-color: #ff6a7c;
    color:white;
    border:none;
    padding: 5px 10px 5px 10px;
}
.tags-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tags-img{
    max-width: 25px;
    max-height: auto;
    display: block;
}
.tags-img-cont{
    overflow: hidden;
}
.tags{
    background-color: #41cadd;
    color:white;
    border:none;
    padding: 5px 10px 5px 10px;
    font-size: 0.75em;
    margin: 2px
}

.tags:hover{
    color:black;
    background-color: var(--hotpink);
}

.submit-contact{
    background-color: #41cadd;
    color:white;
    border:none;
    padding: 5px 10px 5px 10px;

    margin-top: 5px;
}
.submit-contact:hover{
    color:black;
    background-color: var(--hotpink);
}


.searchforminput{
    border: solid black 1px;
    border-color: #4a4a4a;
    padding: 4px;
}

nav a:hover{
    color:var(--hotpink);
}

.download-but{
    background-color:grey;
    color:white;
    border: #565050 solid 3px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    font-family: 'Nunito';
    font-weight: bold;
    text-decoration: none;

}

.download-but:hover{
    color:var(--hotpink);
}


