
/*settings for individual image for articlePostImage*/

.articlePostImage img{
    display: block;
    width: 100%;
    height: 100%; 
    /* NB!!!!!width and heights are 
    needed to fill the block FULLY*/
}
/* FOR CV IMAGES */
.cv-doc{
    /* text-align: center; */
    width: 50vw;
    height: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.cv-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}


/*settings for individual image for photoGrid*/
.photoGrid img {
    display: block;
}

.galleryImage{
    position: relative;
}

.galleryImage figcaption {
    display: none;
    position: absolute;
    bottom: 40px;
    left:30px;
}

.galleryImage:hover figcaption{
    display: block;
}

.galleryImage h4{

    color: white;
    padding-top: 20px;
    font-family: 'Nuniton';
    font-weight: bold;
    font-size: 2em;
}

/*settings Grid Layout*/

.photoGrid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        grid-row-start:1;
        grid-row-end: 3;
        grid-column-start:1;
        grid-column-end: 4;
        margin: 30px;
        justify-content: center;
}

/* you don't need to touch this */


.photoGrid  figure {
	object-fit: cover;
	overflow: hidden;
}
.grid-im {
	display: block;
    height: auto; 
    width: 30vw;
}

/* you don't need to touch this */

.example1{
    grid-row: 1 / 2;
    grid-column: 1 / 2; 
}

.example2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3; 
}


.example3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4; 
}

.example4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2; 
}

.example5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3; 
}

.example6 {
    grid-row: 2/ 3;
    grid-column: 3 / 4;  
}
