
/*icon img {
    display:block
}
    icon{
        display:block;
    }   */

    .socialIcon {
        display:inline-block;
        background-color:#41cadd;
        border-radius: 100%;
        border: none;
        padding: 10px;


    }

    .socialIcon img{
        display:block;
        width: 25px;
        height: 25px;
    }

    .socialIcon:hover{
        background-color:var(--hotpink);
    }
    
    footer{
        text-align: center;
        padding: 40px;
    }